.layui-footer {
  text-align: center;
  font-size: 12px;
  background-color: #f2f3f8;
}

#logo {
  background: url('../images/logo.png') no-repeat center;
}

.iconfont {
  margin-right: 8px;
}

.layui-icon {
  margin-right: 8px;
}

.layui-body {
  overflow: hidden;
}

.layui-body div {
  height: 100%;
}

iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.user-box{
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: center;
  
}
.user-box .layui-nav-img{
  width: 40px;
  height: 40px;
  display: none;
}
.user-box .text-avatar{
  display: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #cdcdcd;
  color:black;
  border-radius: 50%;
  font-size: 18px;
  margin-right: 10;
  user-select: none;
  
}
.user-box .tetx{
  margin-left: 8px;
  font-size: 12px;
  user-select: none;

}

